<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>careVet - Tu veterinaria de confianza</title>
    <link rel="stylesheet" type="text/css" href="/CSS/Style.css">

</head>
<body>

<div class="navbar">
    <a href="#home">Inicio</a>
    <div class="dropdown">
        <button class="dropbtn">Servicios
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">Consulta General</a>
            <a href="#">Vacunación</a>
            <a href="#">desparacitacion</a>
            <!-- Más servicios -->
        </div>
    </div>
    <a href="#citas">Citas</a>
    <a href="#urgencias">Urgencias</a>
    <a href="#nosotros">Nosotros</a>
    <a href="Login.html">Login</a>
</div>

<h1>Bienvenido a careVet</h1>
<p>Tu salud animal, nuestra prioridad.</p>

<!-- Contenido adicional aquí -->

</body>
</html>