<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Mascotas</title>
</head>
<body>
<script src="/js/AltaMascotas.js"></script>
<h1>Formulario de Mascotas</h1>
<form id="mascotaForm">

    <input type="hidden" id="usuario_id" th:value="${usuario_id}">


    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required><br><br>

    <label for="especie">Especie:</label>
    <input type="text" id="especie" name="especie" required><br><br>

    <label for="sexo">Sexo:</label>
    <input type="text" id="sexo" name="sexo" required><br><br>

    <label for="edad">Edad:</label>
    <input type="text" id="edad" name="edad" required><br><br>

    <label for="raza">Raza:</label>
    <input type="text" id="raza" name="raza" required><br><br>

    <label for="color">Color:</label>
    <input type="text" id="color" name="color" required><br><br>

    <button type="button" onclick="modificarMascota()">Modificar Mascota</button>
    <button id="altaMascota" type="button" onclick="agregarMascota()">Agregar Mascota</button>
    <button type="button" onclick="eliminarMascota()">Eliminar Mascota</button>
    <button type="button" onclick="consultarMascotas()">Consultar Mascota</button>

</form>



</body>
</html>