<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Mascotas</title>
</head>
<body>
<input type="hidden" id="usuario_id" th:value="${usuario_id}">
<script th:src="@{/js/Mascotas.js}"></script>

<h1>Formulario de Mascotas</h1>
<form id="mascotaForm">




    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required><br><br>

    <label for="especie">Especie:</label>
    <input type="text" id="especie" name="especie" required><br><br>

    <label for="sexo">Sexo:</label>
    <input type="text" id="sexo" name="sexo" required><br><br>

    <label for="edad">Edad:</label>
    <input type="text" id="edad" name="edad" required><br><br>

    <label for="raza">Raza:</label>
    <input type="text" id="raza" name="raza" required><br><br>

    <label for="color">Color:</label>
    <input type="text" id="color" name="color" required><br><br>


    <button id="Mascota" type="button" onclick="agregarMascota()">Agregar Mascota</button>
    <button type="button" onclick="consultarMascotas()">Consultar Mascota</button>

</form>

<form id="formEditarMascota" style="display:none;">
    <input type="text" id="editarNombre" placeholder="Nombre">
    <input type="text" id="editarEspecie" placeholder="Especie">
    <input type="text" id="editarSexo" placeholder="Sexo">
    <input type="text" id="editarEdad" placeholder="Edad">
    <input type="text" id="editarRaza" placeholder="Raza">
    <input type="text" id="editarColor" placeholder="Color">
    <button type="button" onclick="guardarCambios()">Guardar Cambios</button>
</form>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        var usuarioId = document.getElementById('usuario_id').value;
        console.log("El valor del usuario_id es: ", usuarioId);
    });
</script>


</body>
</html>